@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --light: #e6e6e6;
  --dark: #00151e;
  --red: #f66151;
  --blue: #002b3d;

  --background: var(--light);
  --text: rgba(from var(--dark) r g b / 0.9);
  --primary: var(--red);
  --secondary: var(--blue);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  color: var(--text);
  background-color: var(--background);
}

*::selection {
  background-color: rgba(from var(--primary) r g b / 0.7);
}

a {
  text-decoration: none;
  position: relative;
  color: var(--text);
}

a::after {
  content: '';
  background-color: var(--primary);
  position: absolute;
  bottom: 0.2rem;
  left: -0.1rem;
  right: -0.1rem;
  height: 25%;
  opacity: 0.5;
  z-index: -1;
  transition: height 0.2s ease;
}

a:hover::after {
  height: 70%;
}
