---
import Layout from 'src/layouts/Layout.astro'
---

<Layout>
  <div class="container">
    <div>About</div>
    <div>Massimiliano Bellan</div>
  </div>
</Layout>

<style>
  .container {
    width: 80vw;
    display: flex;
  }
</style>
