---
import { type Props as ProjectProps } from 'src/components/Project.astro'
import Project from 'src/components/Project.astro'
import Layout from 'src/layouts/Layout.astro'
import AdventOfCode2024 from '@images/projects/AdventOfCode2024.png'
import AstroImage from '@images/projects/Astro.png'
import CommunityJukebox from '@images/projects/CommunityJukebox.png'
import ZeldaCompendium from '@images/projects/ZeldaCompendium.png'

const projects: ProjectProps[] = [
  {
    image: {
      metaData: AstroImage,
      alt: 'Astro',
    },
    description:
      'Created this website using Astro. Always wanted to try some new technologies out and I have been enjoying the experience so far!',
    name: 'Personal Website',
    url: 'https://github.com/massimilianobellan/website',
    tags: ['Astro', 'Typescript', 'Vite'],
  },
  {
    image: {
      metaData: AdventOfCode2024,
      alt: 'Advent of Code 2024',
    },
    description:
      'Participated in the 2024 Advent of Code using Typescript and Bun. Created some utlity functions for running and timing to strengthen my Bun experience. Cannot wait for 2025',
    name: 'Advent of Code 2024',
    url: 'https://github.com/massimilianobellan/AdventOfCode',
    tags: ['Typescript', 'Bun'],
  },
  {
    image: {
      metaData: ZeldaCompendium,
      alt: 'Zelda Compendium',
    },
    description:
      'Used an existing API to display entries from the Hyrule Compendium API, mainly to learn the intricacies of Tanstack Query.',
    name: 'Zelda Compendium',
    url: 'https://github.com/massimilianobellan/BotW-test-API',
    tags: ['Typescript', 'Node', 'React'],
  },
  {
    image: {
      metaData: CommunityJukebox,
      alt: 'Community Jukebox',
    },
    description:
      'Created a jukebox where everyone can watch the same youtube video using socket.io.',
    name: 'Community Jukebox',
    url: 'https://github.com/massimilianobellan/Community-Jukebox',
    tags: ['Javacript', 'Node', 'React', 'Socket.io'],
  },
]
---

<Layout>
  <div class="container">
    <div class="title">Projects</div>
    <div class="projects">
      {projects.map((project) => <Project {...project} />)}
    </div>
  </div>
</Layout>

<style>
  .container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .title {
    align-self: center;
    font-size: 2rem;
  }

  .projects {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
