---
import '@styles/cssResets.css'
import '@styles/global.css'
import Navbar from 'src/components/Navbar.astro'
import Footer from 'src/components/Footer.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Massimiliano Bellan</title>
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0rem 1rem 1rem 1rem;
    position: relative;
  }

  main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
  }
</style>
